<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-2 text-center">
        <div class="service-box">
          <%= link_to fa_icon("facebook"), "https://www.facebook.com/alberto.perezderada", class: "fa-4x wow bounceIn page-scroll", target: "_blank" %>
        </div>
      </div>
      <div class="col-sm-2 text-center">
        <div class="service-box">
          <%= link_to fa_icon("twitter"), "https://twitter.com/APdRF1", class: "fa-4x wow bounceIn page-scroll", target: "_blank" %>
        </div>
      </div>
      <div class="col-sm-2 text-center">
        <div class="service-box">
          <%= link_to fa_icon("instagram"), "https://www.instagram.com/apdrf1", class: "fa-4x wow bounceIn page-scroll", target: "_blank" %>
        </div>
      </div>
      <div class="col-sm-2 text-center">
        <div class="service-box">
          <%= link_to fa_icon("youtube-play"), "https://www.youtube.com/user/APdRF1", class: "fa-4x wow bounceIn page-scroll", target: "_blank" %>
        </div>
      </div>
      <div class="col-sm-2 text-center">
        <div class="service-box">
          <%= link_to fa_icon("github"), "https://github.com/AlbertoPdRF", class: "fa-4x wow bounceIn page-scroll", target: "_blank" %>
        </div>
      </div>
      <div class="col-sm-2 text-center">
        <div class="service-box">
          <%= link_to fa_icon("linkedin"), "https://www.linkedin.com/in/apdrf", class: "fa-4x wow bounceIn page-scroll", target: "_blank" %>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <i class="fa fa-copyright"> <%= Time.new.year %> <%= t('.copyright') %></i>
      </div>
    </div>
  </div>
</footer>
